<template name="appLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
	<div class="wrapper">
      
      {{#if isAdmin}}
        {{> _adminHeader}}
      {{/if}}

      {{#if isInfluencer}}
        {{> _influencerHeader}}
      {{/if}}

      {{#if isBusiness}}
        {{> _businessHeader}}
      {{/if}}
      
  		<div class="page-wrapper">

  			<!-- Content Wrapper. Contains page content -->
     		<div class="content-wrapper content-container">

        <!-- {{#if isAdmin}}
          admin
        {{/if}}

        {{#if isInfluencer}}
          influencer
        {{/if}}

        {{#if isBusiness}}
          business
        {{/if}} -->

    		{{> yield}}

	  		{{> _appFooter}}
	 		</div>

	 	</div>

 	</div>
</template>
