<template name="homeAdmin">

	<section class="content-header">
		<h1 class="page-header gradientbg">
			Todas las campañas activas
		</h1>
	</section>

	<section class="content">

		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="chartbox campaigns single-campaign">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="row">
								<div class="col-xs-8">
									<h3 class="page-header gradientbg">Vienesa mundial</h3>
									<b>Inicio:</b> 05-07-2015<br>
									<b>Término:</b> 22-07-2015<br>
								</div><!-- /.col-xs-8 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-12">

								</div><!-- /.col-xs-12 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-12">
									<h4><b>Influenciadores</b></h4>
								</div><!-- /.col-xs-12 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-2">
									<img src="https://pbs.twimg.com/profile_images/491077197201829888/fQV2RA3o_400x400.jpeg" class="img-responsive" alt="" />
								</div><!-- /.col-xs-2 -->
								<div class="col-xs-10">
									<p><b>Carolina Mandil</b><br />Ganadora de @StartupChile Co-Founder &amp; CEO de @DIGIREPCL E-Commerce/Digital Expert!</p>
								</div><!-- /.col-xs-10 -->
							</div>
							<div class="row">
								<div class="col-xs-2">
									<img src="https://pbs.twimg.com/profile_images/628075935217131520/nolxxKRP_400x400.jpg" class="img-responsive" alt="" />
								</div><!-- /.col-xs-2 -->
								<div class="col-xs-10">
									<p><b>Kathy Bodis</b><br />Presentadora de TV, Relacionadora Pública y Emprendiendo con DIGIREP. Amo comer, dormir, animales, videojuegos, maquillaje, tecnología, sol y viajar!</p>
								</div><!-- /.col-xs-10 -->
							</div>
							
						</div><!-- /.col-xs-10 col-xs-offset-1 -->
					</div><!-- /.row -->
				</div><!-- /.chartbox -->
				<!-- /.panel -->
			</div><!-- /.col-sm-4 -->
			<div class="col-md-6 col-lg-4">
				<div class="chartbox campaigns single-campaign">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="row">
								<div class="col-xs-8">
									<h3 class="page-header gradientbg">El completo de Chile</h3>
									<b>Inicio:</b> 05-07-2015<br>
									<b>Término:</b> 22-07-2015<br>
								</div><!-- /.col-xs-8 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-12">

								</div><!-- /.col-xs-12 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-12">
									<h4><b>Influenciadores</b></h4>
								</div><!-- /.col-xs-12 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-2">
									<img src="https://pbs.twimg.com/profile_images/491077197201829888/fQV2RA3o_400x400.jpeg" class="img-responsive" alt="" />
								</div><!-- /.col-xs-2 -->
								<div class="col-xs-10">
									<p><b>Carolina Mandil</b><br />Ganadora de @StartupChile Co-Founder &amp; CEO de @DIGIREPCL E-Commerce/Digital Expert!</p>
								</div><!-- /.col-xs-10 -->
							</div>
							<div class="row">
								<div class="col-xs-2">
									<img src="https://pbs.twimg.com/profile_images/589943087503380480/jneYpYhx_400x400.jpg" class="img-responsive" alt="" />
								</div><!-- /.col-xs-2 -->
								<div class="col-xs-10">
									<p><b>Jorge Gómez V.</b><br />Periodista. Estadístico. Parte de @AlAireLibre y @cadena_nacional. La selección es lo más importante y Chile 2015 cambió mi vida para siempre.</p>
								</div><!-- /.col-xs-10 -->
							</div>
							
						</div><!-- /.col-xs-10 col-xs-offset-1 -->
					</div><!-- /.row -->
				</div><!-- /.chartbox -->
				<!-- /.panel -->
			</div><!-- /.col-sm-4 -->
			<div class="col-md-6 col-lg-4">
				<div class="chartbox campaigns single-campaign">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<div class="row">
								<div class="col-xs-8">
									<h3 class="page-header gradientbg">Vienesa presidencial</h3>
									<b>Inicio:</b> 05-07-2015<br>
									<b>Término:</b> 22-07-2015<br>
								</div><!-- /.col-xs-8 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-12">

								</div><!-- /.col-xs-12 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-12">
									<h4><b>Influenciadores</b></h4>
								</div><!-- /.col-xs-12 -->
							</div><!-- /.row -->
							<div class="row">
								<div class="col-xs-2">
									<img src="https://pbs.twimg.com/profile_images/589943087503380480/jneYpYhx_400x400.jpg" class="img-responsive" alt="" />
								</div><!-- /.col-xs-2 -->
								<div class="col-xs-10">
									<p><b>Jorge Gómez V.</b><br />Periodista. Estadístico. Parte de @AlAireLibre y @cadena_nacional. La selección es lo más importante y Chile 2015 cambió mi vida para siempre.</p>
								</div><!-- /.col-xs-10 -->
							</div>
							<div class="row">
								<div class="col-xs-2">
									<img src="https://pbs.twimg.com/profile_images/491077197201829888/fQV2RA3o_400x400.jpeg" class="img-responsive" alt="" />
								</div><!-- /.col-xs-2 -->
								<div class="col-xs-10">
									<p><b>Carolina Mandil</b><br />Ganadora de @StartupChile Co-Founder &amp; CEO de @DIGIREPCL E-Commerce/Digital Expert!</p>
								</div><!-- /.col-xs-10 -->
							</div>
							
						</div><!-- /.col-xs-10 col-xs-offset-1 -->
					</div><!-- /.row -->
				</div><!-- /.chartbox -->
				<!-- /.panel -->
			</div><!-- /.col-sm-4 -->
		</div><!-- /.row -->
	</section>

</template>