<template name="lineHistoricalTwitter">
    <div id="container-line-twitter" style="height: 300px;"></div>
</template>

<template name="lineHistoricalInstagram">
    <div id="container-line-instagram" style="height: 300px;"></div>
</template>

<template name="basicDemo">
    <div id="container-basic" style="min-width: 200px; height: 200px;"></div>
</template>
<template name="basicDemo2">
    <div id="container-basic2" style="min-width: 200px; height: 200px;"></div>
</template>
<template name="basicDemo3">
    <div id="container-basic3" style="min-width: 200px; height: 200px;"></div>
</template>