<template name="statsSection">

	<section class="content statistics">
		
		<div class="row">
			
			<div class="col-md-12">

				<!-- HEADER -->
				<div class="row header-title">

        			<h2 class="col-md-5 pull-left" style="">Estadísticas</h2>

        			<div class="col-md-6 pull-right social-icons">

        				<span class="pull-right">

							{{  # if user.services.twitter.screenName }}
								<i class="fa fa-twitter circleicon coloricon"></i>
							{{ else }}
								<i class="fa fa-twitter circleiconoff coloricon"></i>
							{{ /if }}

							{{ # if user.services.instagram }}
								<i class="fa fa-instagram circleicon coloricon"></i>
							{{ else }}
								<i class="fa fa-instagram circleiconoff coloricon"></i>
							{{ /if }}

							<i class="fa fa-facebook circleiconoff coloricon"></i>
							<i class="fa fa-linkedin circleiconoff coloricon"></i>
						</span>

        			</div>

        		</div>
        		<!-- HEADER END-->



        		<div class="row">
	        		
			        <!-- Twitter  -->

			        {{ # if datatwitter.screenname}}
		        	<div class="col-xs-6 col-md-6">
		        		
		        	<header class="chartbox title">

		        		<h2>
	        				<i class="fa fa-twitter"></i> Twitter

	        				{{ # if lastupdatetw}}
			        			<span>Última Actualización: {{ lastupdatetw }}</span>
			        		{{/if}}
	        			</h2>

	        		</header>


		        		<div class="row">
				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number" data-toggle="tooltip" data-placement="top" title="Cantidad de Seguidores que tienes y gente que sigues desde que abriste tu cuenta en Twitter.">
				        		<h2 class="boxhome">Mi Perfil</h2>
				        			<p class="sm"><i class="fa fa-users sizelogo" style="margin-top: -15px;padding-bottom: 15px;"></i>
					        			<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-followers">
						        			<div class="circle">
						        			<div class="circlepad">
						        				{{ transnumber datatwitter.profilestatistics.[0].qtyfollowers }}
						        			</div>
						        			</div>
						        			</span>
						        			<h3>Seguidores</h3>
						        		</div>

						        		<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-following">
						        			<div class="circle">
						        			<div class="circlepad">
						        				{{ transnumber datatwitter.profilestatistics.[0].qtyfollowing }}
						        			</div>
						        			</div>
						        			</span>
						        			<h3>Seguidos</h3>
						        		</div>
				        			</p>
				        		</div>
				        	</div>

				        	  	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome" style="font-size:16px;">Mis Acciones</h2>
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-29.png" style="height: 50px;margin-bottom: -10px;margin-top: -10px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					<b>{{ transnumber datatwitter.profilestatistics.[0].qtyfavorites }}</b>
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Favs</h3>
			        				</div>
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-30.png" style="height: 50px;margin-bottom: -10px;margin-top: -10px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					<b>{{ transnumber datatwitter.profilestatistics.[0].qtyretweets }}</b>
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Rts</h3>
			        				</div>
			        				<div class="col-xs-4 col-md-4">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-31.png" style="height: 50px;margin-bottom: -10px;margin-top: -10px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					<b>{{ transnumber datatwitter.profileHistorical.[0].HistoricalData.[0].listed_count }}</b>
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Listados</h3>
			        				</div>
			        			</div>
			        		</div>

				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome" style="font-size:16px;">Tipo de Contenido</h2>
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-25.png" style="height: 80px;margin-bottom: -25px;margin-top: -25px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					<b>{{ transnumber datatwitter.profilestatistics.[0].qtytweets }}</b>
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Tweets</h3>
			        				</div>
			        				<!-- <div class="col-xs-4 col-md-4">
					        			<p class="sm"><i class="fa fa-picture-o sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ transnumber datatwitter.profilestatistics.[0].images }}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Imagenes</h3>
			        				</div> -->
			        				<div class="col-xs-6 col-md-6">
			        				<div class="col-xs-4 col-md-4" style="margin-left: -40px;">
				        				<img src="images/iconos/Iconos_App_eGlow-10.png" style="height: 37px;margin-bottom: -10px;margin-top: 10px;">
				        				<img src="images/iconos/Iconos_App_eGlow-11.png" style="height: 37px;margin-bottom: -10px;margin-top: 10px;">
				        				<img src="images/iconos/Iconos_App_eGlow-12.png" style="height: 37px;margin-bottom: -10px;margin-top: 10px;">
			        				</div>
			        				<div class="col-xs-4 col-md-8" style="margin-left: 15px;padding-top: 10px;">
			        				<b style="font-size:25px;">{{transnumber2 writed }}</b>
			        				<b style="font-size:25px;">{{transnumber datatwitter.profilestatistics.[0].videos }}</b>
			        				<b style="font-size:25px;">{{transnumber datatwitter.profilestatistics.[0].images }}</b>
			        				</div>
			        				</div>				        		
			        				<!-- </div> -->
			        			</div>
			        		</div>
			        	</div>
	        		</div>
		        	
		        	{{else}}
		        	<div class="col-xs-12">
		        		<div class="row">
		        			<div class="col-xs-12">
		        				<h2> <i class="fa fa-twitter"></i>  Twitter</h2>
		        			</div>
		        		</div>
		        		<div class="row">
			        	 <div class="col-xs-12 col-md-12">
			        		<div class="chartbox sm single-number">
			        			<p><i class="fa fa-twitter" style="color: #000053;"></i> <span id="data-facebook-fans"><button type="submit" class="btn btn-default twconnect">Conectar</button></span></p>
			        			<h3></h3>
			        		</div>
			        	</div>
			        	</div>		
					 </div>
		        	{{/if}}

		        	<!-- Twitter END -->


		   			<!-- Instagram -->

		        	{{ # if datainstagram.screenname}}

		        	<div class="col-xs-6 col-md-6">

		        		<header class="chartbox title">

		        			<h2>
		        				<i class="fa fa-instagram"></i>  Instagram

		        				{{ # if lastupdateinsta}}
				        			<span>
				        				Última Actualización: {{ lastupdateinsta }}
				        			</span>
				        		{{/if}}

		        			</h2>

		        		</header>

		        		<div class="row">

				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome">Mi Perfil</h2>
				        			<p class="sm"><i class="fa fa-users sizelogo" style="margin-top: -15px;padding-bottom: 15px;"></i>
					        			<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-followers">
						        			<div class="circle">
						        			<div class="circlepad">
						        				{{ transnumber datainstagram.profilestatistics.[0].qtyfollowers }}
						        			</div>
						        			</div>
						        			</span>
						        			<h3>Seguidores</h3>
						        		</div>

						        		<div class="interline col-xs-6 col-md-6">	
						        			<span id="data-total-following">
						        			<div class="circle">
						        			<div class="circlepad">
						        				{{ transnumber datainstagram.profilestatistics.[0].qtyfollowing }}
						        			</div>
						        			</div>
						        			</span>
						        			<h3>Seguidos</h3>
						        		</div>
				        			</p>
				        		</div>
				        	</div>

				        	<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome">Mis Acciones</h2>
			        				<div class="col-xs-12 col-md-12">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-06.png" style="height: 80px;margin-bottom: -25px;margin-top: -25px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					<b>{{ transnumber datainstagram.profilestatistics.[0].qtylikes }}</b>
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Likes</h3>
			        				</div>
			        				<!-- <div class="col-xs-6 col-md-6">
					        			<p class="sm"><i class="fa fa-retweet sizelogo"></i>
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					
						        				{{ # if datainstagram.profilestatistics.[0].qtyretweets}}

					        						{{ datainstagram.profilestatistics.[0].qtyretweets}}

					        					{{else}}
					        					
					        						0

					        					{{/if}}

						        				</span>
						        			</div>
					        			</p>
					        			<h3>RTs</h3>
			        				</div> -->
			        			</div>
			        		</div>

			        		<div class="col-xs-12 col-md-4">
				        		<div class="chartbox sm single-number">
				        		<h2 class="boxhome" style="font-size:16px;">Tipo de Contenido</h2>
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-21.png" style="height: 80px;margin-bottom: -25px;margin-top: -25px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					<b>{{ datainstagram.profilestatistics.[0].qtyfeeds }}</b>
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Posts</h3>
			        				</div>
			        				<div class="col-xs-6 col-md-6">
					        			<p class="sm"><img src="images/iconos/Iconos_App_eGlow-12.png" style="height: 80px;margin-bottom: -25px;margin-top: -25px;">
						        			<div class="interline">	
						        				<span id="data-total-tweets">
						        					{{ # if datainstagram.profilestatistics.[0].images}}

						        						<b>{{ datainstagram.profilestatistics.[0].images}}</b>

						        					{{else}}
						        					
						        						<b>0</b>

						        					{{/if}}
						        				</span>
						        			</div>
					        			</p>
					        			<h3>Imagenes</h3>
			        				</div>
			        			</div>
			        		</div>
			        	</div>
		        	</div>

		        	{{ else }}

					<div class="col-xs-6 col-md-6">

        				<header class="chartbox title">

		        			<h2>
		        				<i class="fa fa-instagram"></i> Instagram
		        			</h2>

		        		</header>

		        		<div class="row">
				        	<div class="col-xs-12 col-md-12">
				        		<div class="chartbox sm single-number">
				        			<p><i class="fa fa-instagram" style="color: #000053;"></i> <span id="data-facebook-fans"><button type="submit" class="btn btn-default instaconnect">Conectar</button></span></p>
				        			<h3></h3>
				        		</div>
				        	</div>
			        	</div>		
					 </div>

					{{ /if }}

		   			<!-- Instagram End-->



			    </div>

			</div>

		</div>

	</section>

</template>