<template name="businessNewCampaign">

	<section class="content-header">
		<h1 class="page-header gradientbg">
			Iniciar Nueva Campaña
		</h1>
	</section>

	<section class="content">

		<div class="row">
			<div class="col-lg-8">
				<div class="chartbox profile" style="height: auto; padding-bottom: 20px;">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="page-header gradientbg">Nueva campaña</h3>
						</div><!-- /.col-xs-12 -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<form role="form" action="#">
								<div class="form-group">
									<label>Nombre de la empresa</label>
									<input class="form-control">
									<p class="help-block">El nombre de la empresa o marca que llevará a cabo la campaña</p>
								</div>
								<div class="form-group">
									<label>Nombre de la campaña</label>
									<input class="form-control">
								</div>
								<div class="form-group">
									<label>Categoría de la campaña</label>
									<input class="form-control">
								</div>
								<div class="form-group">
									<label>Presupuesto</label>
									<input class="form-control">
								</div>
								<div class="form-group">
									<label>Duración</label>
									<input class="form-control">
								</div>
								<div class="form-group">
									<label>Objetivo de la campaña</label>
									<select class="form-control">
										<option>Alcance (Awareness)</option>
										<option>Engagement (Interacción con el usuario)</option>
										<option>Lanzamiento (Nuevo producto)</option>
										<option>Ventas (Campaña con cupón)</option>
									</select>
								</div>
								<div class="form-group">
									<label>Perfil del influenciador</label>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">Perfil uno
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">Perfil dos
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">Perfil tres
										</label>
									</div>
								</div>
								<div class="form-group">
									<label>Rango de seguidores</label>
									<select class="form-control">
										<option value="0 - 10.000">0 - 10.000</option>
										<option value="10.001 - 100.000">10.001 - 100.000</option>
										<option value="100.001 - 300.000">100.001 - 300.000</option>
										<option value="300.001 - 500.000">300.001 - 500.000</option>
										<option value="500.001 - 1,000,000">500.001 - 1,000,000</option>
										<option value="+1.000.000">+1.000.000</option>
									</select>
								</div>
								<div class="form-group">
									<label>Perfil demográfico</label>
								</div>
								<div class="form-group">
									<label>Género</label>
									<label class="checkbox-inline">
										<input type="checkbox">Mujer
									</label>
									<label class="checkbox-inline">
										<input type="checkbox">Hombre
									</label>
									<label class="checkbox-inline">
										<input type="checkbox">Otro
									</label>
								</div>
								<div class="form-group">
									<label>Rango etáreo</label>
									<label class="checkbox-inline">
										<input type="checkbox">18-24
									</label>
									<label class="checkbox-inline">
										<input type="checkbox">25-34
									</label>
									<label class="checkbox-inline">
										<input type="checkbox">35-44
									</label>
									<label class="checkbox-inline">
										<input type="checkbox">45-54
									</label>
									<label class="checkbox-inline">
										<input type="checkbox">55+
									</label>
								</div>

								<a class="btn-premium" href="">Enviar campaña</a>
							</form>

						</div><!-- /.col-xs-8 col-xs-offset-2 -->

					</div><!-- /.row -->
				</div><!-- /.chartbox -->
			</div><!-- /.col-sm-6 -->

		</div>

	</section>

</template>
