<template name="businessRecommended">

	<section class="content-header">
		<h1 class="page-header gradientbg">
			Influenciadores Recomendados
		</h1>
	</section>

	<section class="content">

		<p>Estos son los influenciadores que te recomendamos de acuerdo a tu perfil de marca</p>

		<div class="row">
	    	<div class="col-lg-8">
	    		<div class="row">
	    			<!-- SINGLE INFLUENCER -->
	                <div class="col-md-6">
	                    <div class="chartbox profile" style="height: auto; padding-bottom: 20px;">
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <h3 class="page-header gradientbg">KATHY BODIS</h3>
	                            </div><!-- /.col-xs-12 -->
	                        </div><!-- /.row -->
	                        <div class="row">
	                            <div class="col-xs-10 col-xs-offset-1">
		                            <div class="row">
		                                <div class="col-xs-3">
		                                    <img src="https://pbs.twimg.com/profile_images/628075935217131520/nolxxKRP_400x400.jpg" class="img-responsive" alt="" />
		                                </div><!-- /.col-xs-3 -->
		                                <div class="col-xs-9">
		                                    <p>Presentadora de TV, Relacionadora Pública y Emprendiendo con DIGIREP. Amo comer, dormir, animales, videojuegos, maquillaje, tecnología, sol y viajar!</p>
		                                    <p><b>Seguidores:</b> 500.000</p>
	                                        <p><b>Engagement rate:</b> 0.8</p>
		                                </div><!-- /.col-xs-9 -->
		                            </div><!-- /.row -->
	                            </div><!-- /.col-xs-8 col-xs-offset-2 -->

	                        </div><!-- /.row -->
	                    </div><!-- /.chartbox -->
	                </div><!-- /.col-sm-6 -->

	                <!-- SINGLE INFLUENCER -->
	                <div class="col-md-6">
	                    <div class="chartbox profile" style="height: auto; padding-bottom: 20px;">
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <h3 class="page-header gradientbg">BLONDIE</h3>
	                            </div><!-- /.col-xs-12 -->
	                        </div><!-- /.row -->
	                        <div class="row">
	                            <div class="col-xs-10 col-xs-offset-1">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <img src="https://pbs.twimg.com/profile_images/628075935217131520/nolxxKRP_400x400.jpg" class="img-responsive" alt="" />
	                                    </div><!-- /.col-xs-3 -->
	                                    <div class="col-xs-9">
	                                        <p>Presentadora de TV, Relacionadora Pública y Emprendiendo con DIGIREP. Amo comer, dormir, animales, videojuegos, maquillaje, tecnología, sol y viajar!</p>
	                                        <p><b>Seguidores:</b> 500.000</p>
	                                        <p><b>Engagement rate:</b> 0.8</p>
	                                    </div><!-- /.col-xs-9 -->
	                                </div><!-- /.row -->
	                            </div><!-- /.col-xs-8 col-xs-offset-2 -->

	                        </div><!-- /.row -->
	                    </div><!-- /.chartbox -->
	                </div><!-- /.col-sm-6 -->


	    		</div><!-- /.row -->
	    	</div><!-- /.col-sm-8 -->

	        <div class="col-lg-4">
	            <div class="panel panel-shown visible-lg">
	                <div class="panel-body">
	                    <p class="star">
	                        <img src="http://agenciadev01.info/lab/digirep/img/icons/big/money.png" alt="Mi resumen mensual" />
	                    </p>
	                    <h3>Mi resumen mensual</h3>
	                    <div class="row">
	                        <div class="col-xs-1 col-xs-offset-1">
	                            <i class="fa fa-money fa-fw"></i>
	                        </div><!-- /.col-xs-3 -->
	                        <div class="col-xs-9">
	                            <p>Total acumulado:<br><b>$1.250.000</b></p>
	                        </div><!-- /.col-xs-9 -->
	                    </div><!-- /.row -->
	                    <div class="row">
	                        <div class="col-xs-1 col-xs-offset-1">
	                            <i class="fa fa-star fa-fw"></i>
	                        </div><!-- /.col-xs-3 -->
	                        <div class="col-xs-9">
	                            <p style="margin-bottom: 5px;">Campañas activas:</p>
	                            <ul>
	                            	<li>Apple New Tech</li>
	                            	<li>Lippi New Outdoor</li>
	                            	<li>Lipton New Tea</li>
	                            </ul>
	                        </div><!-- /.col-xs-9 -->
	                    </div><!-- /.row -->
	                    <div class="row">
	                        <div class="col-xs-10 col-xs-offset-1">
	                            <a class="btn-premium" href="">Ver toda mi facturación</a>
	                        </div><!-- /.col-xs-12 -->
	                    </div><!-- /.row -->
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!-- /.panel -->

	        </div>
	        <!-- /.col-lg-4 -->

	    </div>
	    <!-- /.row -->


	</section>

</template>
