<template name="businessServices">

    <section class="content-header">
        <h1 class="page-header gradientbg">
            Mis facturas de servicios
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-lg-4">
                <div class="chartbox profile" style="height: auto; padding-bottom: 20px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Enero 2015</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><b>Factura N° 55347</b></p>
                                    <p>Servicios serviciales de servicentro</p>
                                    <p><b>Total:</b> $555.347</p>
                                    <p><a href="#"><i class="fa fa-file-pdf-o"></i> Descarga la factura aquí</a></p>
                                </div>
                                <!-- /.col-lg-8 (nested) -->

                            </div>
                        </div><!-- /.col-xs-8 col-xs-offset-2 -->
                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
            </div><!-- /.col-xs-12 -->

            <div class="col-lg-4">
                <div class="chartbox profile" style="height: auto; padding-bottom: 20px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Febrero 2015</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><b>Factura N° 55347</b></p>
                                    <p>Servicios serviciales de servicentro</p>
                                    <p><b>Total:</b> $555.347</p>
                                    <p><a href="#"><i class="fa fa-file-pdf-o"></i> Descarga la factura aquí</a></p>
                                </div>
                                <!-- /.col-lg-8 (nested) -->

                            </div>
                        </div><!-- /.col-xs-8 col-xs-offset-2 -->
                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
            </div><!-- /.col-xs-12 -->

            <div class="col-lg-4">
                <div class="chartbox profile" style="height: auto; padding-bottom: 20px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="page-header gradientbg">Marzo 2015</h3>
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><b>Factura N° 55347</b></p>
                                    <p>Servicios serviciales de servicentro</p>
                                    <p><b>Total:</b> $555.347</p>
                                    <p><a href="#"><i class="fa fa-file-pdf-o"></i> Descarga la factura aquí</a></p>
                                </div>
                                <!-- /.col-lg-8 (nested) -->

                            </div>
                        </div><!-- /.col-xs-8 col-xs-offset-2 -->
                    </div><!-- /.row -->
                </div><!-- /.chartbox -->
            </div><!-- /.col-xs-12 -->

        </div>

    </section>

</template>
