<template name="profilesadmin">
      <!-- Content Wrapper. Contains page content -->
      <div class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Perfiles
            <!-- <small>Detalle de usuarios</small> -->
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Perfiles</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
   <!--      {{# each materials }}
        
        
        {{/ each }} -->

        {{> tabular table=TabularTables.Profile class="table table-striped table-bordered table-condensed table-hover"}}

        {{#autoForm collection="Profile" id="ShowProfileAdmin" type="insert"}}
          <fieldset>
            <legend>Crear Nuevo Perfil</legend>
            {{> afQuickField name="twitterAccount"}}
            {{> afQuickField name="instagramAccount"}}
           
            <div align="right">
              <button type="submit" class="btn btn-primary cancel">Guardar</button>           
            </div>
          </fieldset>
      {{/autoForm}}

        </div>
        </div>
        </section>
      </div>
</template>

<template name="ShowProfileAdmin">
      <!-- Content Wrapper. Contains page content -->
     
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1 style="margin-left: 10px">
            Perfil
            <small>Aqui puedes actualizar tu perfil</small>
          </h1>
          <ol class="breadcrumb" style="margin-right: 10px; margin-left: 5px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Perfil</li>
          </ol>
        </section>
      
        <section class="content">
     
        <div class="row">
        <div class="content tablecenter">
     <!--    {{> quickForm schema=schema collection="Meteor.users" doc=this id="ShowProfile" type="update"}}
 -->        {{#autoForm collection="Profile" doc=this id="ShowProfileAdmin2" type="update"}}
          <fieldset>
            <legend>Perfil de {{username}}</legend>
            {{> afQuickField name="twitterAccount"}}
            {{> afQuickField name="instagramAccount"}}
           
            <div align="right">
              <button type="button" class="btn btn-danger remove">Borrar</button>
              <button type="button" class="btn btn-default cancel">Cancelar</button>
              <button type="submit" class="btn btn-primary cancel">Guardar</button>           
            </div>
          </fieldset>
      {{/autoForm}}
        </div>
        </div>
        
        </section>
  
</template>

<template name="ButtonShowUsersProfiles">
  <div align="center"><button type="button" class="btn btn-xs btn-primary edit"><i class="ion-gear-b"> Editar</i></button></div>
</template>
<template name="sincTwSoap">
  <div align="center"><button type="button" class="btn btn-xs btn-primary sinctw"><i class="ion-refresh"></i></button></div>
</template>
<template name="sincInstaSoap">
  <div align="center"><button type="button" class="btn btn-xs btn-primary sincinsta"><i class="ion-refresh"></i></button></div>
</template>